<div class="project-container">
  <!-- Top Toolbar -->
  <mat-toolbar class="project-toolbar">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="project-name">{{ project?.name || 'Loading...' }}</span>
    <span class="spacer"></span>
    <button mat-flat-button color="primary" (click)="serveProject()">
      <mat-icon>{{ status?.isServing ? 'stop' : 'play_arrow' }}</mat-icon>
      {{ status?.isServing ? 'Stop' : 'Serve' }}
    </button>
    <button mat-flat-button color="accent" (click)="buildProject()" [disabled]="status?.isBuilding">
      <mat-icon>build</mat-icon>
      Build
    </button>
    <button mat-icon-button (click)="toggleRightSidebar()">
      <mat-icon>{{ rightSidebarOpen ? 'chevron_right' : 'chevron_left' }}</mat-icon>
    </button>
  </mat-toolbar>

  <!-- Build Progress -->
  <mat-progress-bar *ngIf="status?.isBuilding" mode="indeterminate"></mat-progress-bar>

  <!-- Main Content -->
  <div class="project-content">
    <!-- Sidebar -->
    <mat-sidenav-container>
      <mat-sidenav mode="side" [opened]="sidebarOpen" class="project-sidebar">
        <app-file-explorer></app-file-explorer>
      </mat-sidenav>

      <mat-sidenav-content>
        <!-- Editor Area -->
        <div class="editor-area">
          <app-editor></app-editor>
        </div>

        <!-- Bottom Panel -->
        <div class="bottom-panel">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>terminal</mat-icon>
                Console
              </ng-template>
              <app-console></app-console>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>network_check</mat-icon>
                Network
              </ng-template>
              <app-network></app-network>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>code</mat-icon>
                Elements
              </ng-template>
              <app-elements-inspector></app-elements-inspector>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>build</mat-icon>
                Build Output
              </ng-template>
              <div class="output-panel">
                <ng-container *ngIf="status">
                  <div *ngFor="let line of status.buildOutput" class="output-line">{{ line }}</div>
                  <div *ngIf="status.buildError" class="output-line error">{{ status.buildError }}</div>
                </ng-container>
              </div>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon>play_arrow</mat-icon>
                Serve Output
              </ng-template>
              <div class="output-panel">
                <ng-container *ngIf="status">
                  <div *ngFor="let line of status.serveOutput" class="output-line">{{ line }}</div>
                  <div *ngIf="status.serveError" class="output-line error">{{ status.serveError }}</div>
                </ng-container>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </mat-sidenav-content>

      <!-- Right Sidebar -->
      <mat-sidenav position="end" mode="side" [opened]="rightSidebarOpen" class="preview-sidebar" *ngIf="shouldShowPreview()">
        <ng-container *ngIf="isPreviewableFile() && currentFile">
          <app-preview
            [fileName]="currentFile.name"
            [fileContent]="currentFile.content"
            [filePath]="currentFile.path"
          ></app-preview>
        </ng-container>
        <ng-container *ngIf="status">
          <ng-container *ngIf="status.isServing && status.serveUrl">
            <iframe
              [src]="status.serveUrl | safeUrl"
              class="serve-preview"
              frameborder="0"
            ></iframe>
          </ng-container>
        </ng-container>
      </mat-sidenav>
    </mat-sidenav-container>
  </div>
</div> 